@keyframes example {
    from { opacity: 0; y: -100;}
    to { opacity: 1; y: 0;}
  }
#profile{
    overflow: hidden; 
    margin: 0px 16px;
    
    animation-name: example;
    animation-duration: 4s;
    transition: all .2s lasugy--v;


    .profile__title {
        // position: absolute;
        margin-bottom: 40px;
        // top: 70px;
        // left: 0;
        width: 48%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);
    
        em{
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    
        @media (max-width: 800px){
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 68px;
            background-color: var(--mainBg-color);
        }
    
    }
    .profile__inner{
        border-radius: 8px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        background-color: white;
        @media (min-width: 800px){
            display: flex;
        }

        .profile__wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 32px;
            background: linear-gradient(to bottom right, #3b82f6, #9333ea);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            @media (min-width: 800px){
                width: 33%;
                border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            }

            .profile__img{
                width: 160px;
                height: 160px;
                border-radius: 50%;
                margin-bottom: 16px;
                background-color: white;
            }

            .profile__name{
                color:white;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
            }

            .profile__dev{
                margin-top: 4px;
                color: rgb(219 234 254);
            }
            .profile__contact__wrapper{
                margin-top: 24px;
                // width: 100%;

                .profile__contact__item{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: white;
                    margin-bottom: 12px;
                    transition: all .2s ease-in-out;
                  

                    div{
                        padding: 8px;
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                    }
                    span{
                        font-size: 14px;
                        &:hover{
                            color:rgb(188, 186, 186)
                        }
                    }
                }
            }
        }
        .profile__about{
            padding: 32px;
            @media (min-width: 800px){
                width: 66%;
            }

            .profile__intro{
                margin-bottom: 24px;
                h2{
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: bold;
                    margin-bottom: 8px;
                    color: rgb(31 41 55 );
                }
                div{
                    width: 80px;
                    margin-bottom: 8px;
                    background-color: rgb(59 130 246);
                }
                p{
                    color: rgb(75 85 99 );
                    line-height: 1.625;
                }
            }
        }
    }
}